@model LibroViewModel;

@{
    ViewData["Title"] = "Informacion";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Informacion">
            <div class="form-group">
                <label asp-for="Titulo" class="fw-bolder"></label>
                <br>
                <p>@Model.Titulo</p>
            </div>
            <div class="form-group">
                <label asp-for="Codigo" class="fw-bolder"></label>
                <br>
                <p>@Model.Codigo</p>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="fw-bolder"></label>
                <br>
                <p>@Model.Autor</p>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="fw-bolder"></label>
                <br>
                <p>@Model.Precio</p>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>